html {
    background-color: gray;
}

button {
    display: flex;
    justify-self: center;
    align-self: center;
}

.container {
    display: grid;
    justify-self: center;
    align-items: center;
    background-color:white;
}

.item {
    height:40px;
    width: 40px;
    border: 1px solid black;
}
