.container {
    display: grid;
    grid-template-columns: repeat(16, auto); /*repeat starts from 0*/
    grid-template-rows: repeat(16, auto);
    justify-content: center;
    align-items: center;
}

.item {
    height:40px;
    width: 40px;
    border: 1px solid black;
}